* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f1f3f6;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}


.layout {
  display: grid;
  grid-template-columns: 3fr 1.4fr;
  gap: 20px;
}


.section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: translateY(-3px);
}

.product-name {
  font-weight: 600;
  margin-bottom: 6px;
}

.product-price {
  color: #388e3c;
  margin-bottom: 10px;
}


button {
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.add-btn {
  background-color: #004cff;
  color: white;
  padding: 8px 12px;
  width: 100%;
}

.add-btn:hover {
  background-color: #004bfb;
}

/* CART */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.qty-btn {
  padding: 4px 10px;
  background-color: #e5e7eb;
  border-radius: 5px;
  margin: 0 4px;
}

.cart-summary {
  border-top: 1px solid #e5e7eb;
  padding-top: 10px;
  margin-top: 15px;
}

.total {
  font-weight: bold;
  font-size: 16px;
}

.discount {
  color: green;
  font-weight: bold;
}


.sticky {
  position: sticky;
  top: 20px;
}

/* Discount input */
input {
  padding: 6px;
  width: 65%;
  margin-right: 6px;
}
